@charset "UTF-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

html {
  font-size: 18px;
  line-height: 1.5;
  font-family: 'Pretendard', sans-serif;
}
body {
  margin: 0px;
  padding: 0px 20px;
  gap: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
dl,
dt,
dd,
ul,
ol,
li,
form,
fieldset,
blockquote,
address,
table,
thead,
tbody,
tfoot,
tr,
td,
caption {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

header {
  display: flex;
  padding: 20px;
  border-bottom: 1px dashed rgb(210, 210, 210);
}

.contents {
  gap: 20px;
}

.container {
  border-radius: 12px;
  margin: 20px;
  background-color: white;
  display: flex;
}

.container.title {
  background-color: rgb(210, 210, 210);
  align-items: center;
  padding: 20px;
  height: 280px;
  box-sizing: border-box;
}

.container.article {
  align-items: center;
  justify-content: center;
  height: 100px;
  box-sizing: border-box;
}

.logo_main {
  text-decoration: none;
  font-size: 32px;
  color: #1a1a1a;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.logo_main > .home {
  font-size: 24px;
  font-weight: 500;
  margin: 4px;
}

.wrapper {
  gap: 4px;
}

.display {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
}

.subtitle {
  font-size: 20px;
  font-weight: 400;
  color: #4f4f4f;
}

footer {
  padding: 20px;
  border-top: 1px dashed rgb(210, 210, 210);
  height: 100px;
}
